<h1>Make your form here</h1>
<form method='post' action='/pirates'>
  <label for='pirate[name]'>Name: </label>
  <input type='text' name='pirate[name]'>
  <label for='pirate[name]'>Height: </label>
  <input type='text' name='pirate[height]'>
  <label for='pirate[name]'>Weight: </label>
  <input type='text' name='pirate[weight]'>
  <label for='pirate[ships][][name]'>Pirate Ship Name 1:</label>
  <input id='ship_name_1' type='text' name='pirate[ships][][name]'>
  <label for='pirate[ships][][type]'>Pirate Ship Type 1:</label>
  <input id='ship_name_1' type='text' name='pirate[ships][][type]'>
  <label for='pirate[ships][][booty]'>Pirate Ship Booty 1:</label>
  <input id='ship_name_1' type='text' name='pirate[ships][][booty]'>
  <label for='pirate[ships][][name]'>Pirate Ship Name 2:</label>
  <input id='ship_name_2' type='text' name='pirate[ships][][name]'>
  <label for='pirate[ships][][type]'>Pirate Ship Type 2:</label>
  <input id='ship_type_2' type='text' name='pirate[ships][][type]'>
  <label for='pirate[ships][][booty]'>Pirate Ship Booty 2:</label>
  <input id='ship_booty_2' type='text' name='pirate[ships][][booty]'>
  <input type='submit' name='submit'>
</form>
