<h1>Make your form here</h1>
<form method='post' action='/pirates'>
  <label for='pirate[name]'>Name: </label>
  <input type='text' name='pirate[name]'>
  <label for='pirate[name]'>Height: </label>
  <input type='text' name='pirate[height]'>
  <label for='pirate[name]'>Weight: </label>
  <input type='text' name='pirate[weight]'>
  <label for='pirate[ships][][name]'>Pirate Ship Name 1:</label>
  <input type='text' name='pirate[ships][][name]'>
  <label for='pirate[ships][][type]'>Pirate Ship Type 1:</label>
  <input type='text' name='pirate[ships][][name]'>
  <label for='pirate[ships][][name]'>Pirate Ship Booty 1:</label>
  <input type='text' name='pirate[ships][][name]'>
  <input type='submit' name='submit'>
</form>
